
.su-m{
    width: 400px;
    height: 500px;
    position: fixed;
    top: 10%;
    left: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.su-i{
    width: 350px;
    padding: 20px;
    border: none;
    box-sizing: border-box;
}

.su-b{
    width: 350px;
    padding: 20px;
    color: white;
    background-color: #F07669;
    border: none;
    cursor: pointer;
}

.su-p1
{
    color: #F07669;
    font-size: 40px;
    font-weight: 600;
}

.su-s2
{
    color: #F07669;
    cursor: pointer;
}